# PostgreSQL
POSTGRES_USER=notifications
POSTGRES_PASSWORD=notifications
POSTGRES_DB=notifications
POSTGRES_PORT=5433

# RabbitMQ
RABBITMQ_USER=notifications
RABBITMQ_PASSWORD=notifications
RABBITMQ_VHOST=/notifications
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672
